extends ./layout
block bodyContainer
  a(href="https://github.com/vicanso/albi", style='position:absolute;right:0;top:0')
    img(src=IMG_URL("/img/forkme.png"))
  #rootContainer

  - importer.import('/css/home.css');
