$COLOR_DARK = #293744
$COLOR_PURPLE = #35405b
$COLOR_DARK_GRAY = #767676
$COLOR_GREEN = #1dd09b
$COLOR_LIGHT_GRAY = #cbcbcb
$COLOR_DARK_BLUE = #35405b
$COLOR_LIGHT_BLACK = #666


$MAIN_HEADER_HEIGHT = 50px
