$COLOR_INDIGO = #00cae9
$COLOR_ORANGE = #f2a80b
$COLOR_BLUE = #4078c0
$COLOR_GREEN = #85c976
$COLOR_DARK = #293744

$COLOR_GRAY = #d9dade
$COLOR_DARK_GRAY = #767676
$COLOR_LIGHT_GRAY = #cbcbcb

$COLOR_LIGHT_BLACK = #666

$COLOR_RED = #911

$MAIN_HEADER_HEIGHT = 50px
