$COLOR_DARK = #293744
$COLOR_DARK_GRAY = #767676
$COLOR_GREEN = #4bc51d
$COLOR_LIGHT_GREEN = #1dd09b
$COLOR_LIGHT_GRAY = #cbcbcb
$COLOR_DARK_BLUE = #35405b
$COLOR_LIGHT_BLACK = #666
$COLOR_RED = #c12127

$GRAY_BORDER = 1px solid rgba(203, 203, 203, 0.3)
