@import './main-header'
@import './main-nav'
.api-view
  ul
    position fixed
    left 0
    top 51px
    bottom 0
    margin 0
    list-style none
    width 150px
    border-right 1px solid #e5e5e5
    padding 0
    li
      a
        padding 10px
        display block
        &:hover
          text-decoration none
          background-color #4078c0
          color #fff
  .preview
    margin-left 160px
