@import 'nib'
@import './common'

headerWrapperCss()
  .header-wrapper
    background-color $COLOR_DARK_BLUE 
    box-sizing content-box
    width 100%
    display table
    color #fff
    table-layout fixed
    height 80px 
    > *
      display table-cell
      vertical-align middle
    .logo
      font-family Oleo Script,cursive
      font-size 32px
      width 190px
      padding-left 20px
      @media only screen and (max-width : 600px)
        width 20px
        text-indent -99em
    .search-component
      $searchBoxHeight = 40px
      max-width 400px
      height $searchBoxHeight
      background #fff
      border-radius 3px
      padding 0 5px
      position relative
      overflow hidden
      .search
        display block
        height 100%
        width 40px
        background $COLOR_LIGHT_GREEN
        position absolute
        right 0
        top 0
        border none
        outline none
        font-size 16px
      .clear
        position absolute
        right 45px
        top 10px
        padding 0 3px
        color $COLOR_LIGHT_GRAY
        &:hover
          color $COLOR_LIGHT_BLACK
      input
        border none
        padding 12px
        box-shadow none
        outline none
        width 100%
        color $COLOR_DARK
    .functions
      width 90px
      padding-left 20px
      a
        font-size 24px
        color #fff
        margin-right 15px
        &.selected
          color $COLOR_LIGHT_GREEN


.module-about-tip
  .created-time
    color $COLOR_DARK_BLUE
    margin 0 3px
    font-weight $FONT_BOLD
  .published-time-list
    margin 10px 0 0 0
    padding 0
    list-style none
    li
      line-height 1.6
      span
        display inline-block
        &.version
          width 30%
        &.time
          width 60%

filterWrapperCss()
  .filter-wrapper
    position absolute
    left 0
    right 0
    top $headerHeigh
    background-color $COLOR_DARK_BLUE
    ul
      border-top $GRAY_BORDER
      margin 0 
      padding 10px
      list-style none
      li
        display inline-block
        margin-right 10px
        a
          color #fff
          padding 2px 5px
          display block
          &.selected
            background-color $COLOR_LIGHT_GREEN
        &.name
          color $COLOR_LIGHT_GREEN
          font-weight $FONT_BOLD
      .fa
        margin-right 5px
    .reset
      border-top $GRAY_BORDER
      display block
      line-height 3 
      color #fff
      text-align center

modulesWrapperCss()
  .modules-wrapper
    margin 0 20px
    ul
      margin 0
      padding 0
      list-style none
      li
        margin-bottom 20px
        padding-bottom 20px
        border-bottom $GRAY_BORDER
      h4
        font-size 20px
        margin 15px 0
        span
          font-size 12px
          margin-left 5px
          color $COLOR_DARK_GRAY
        .tips
          margin-left 5px
          padding 0 2px
          color $COLOR_DARK_BLUE
          font-weight $FONT_BOLD
          cursor pointer
        .download-trend
          margin-left 10px
          font-size 14px
          &.selected
            color $COLOR_RED
      p
        margin 8px 0
      .keywords
        font-size 12px
        word-wrap break-word
        overflow-wrap break-word
        a
          color $COLOR_DARK_GRAY
          &.selected
            color $COLOR_RED
            font-weight $FONT_BOLD
        span
          color $COLOR_DARK_GRAY
          margin-right 5px
      .author.selected
        color $COLOR_RED
        font-weight $FONT_BOLD
    .downloads
      margin 5px 0
      > *
        display inline-block
        margin-right 8px
        border-radius 3px
        color #fff
        overflow hidden
        font-weight $FONT_BOLD
        .type
          padding 2px 4px 2px 8px
          background-color $COLOR_DARK
        .count
          padding 2px 8px 2px 4px
        &.tips
          font-size 16px 
          color $COLOR_DARK
        &.latest .count
          background-color $COLOR_GREEN
        &.week .count
          background-color $COLOR_RED
        &.month .count
          background-color $COLOR_LIGHT_GREEN
        &.quarter .count
          background-color $COLOR_LIGHT_BLACK
    .updatedAt
      color $COLOR_DARK_BLUE

.home-view
  headerWrapperCss()
  filterWrapperCss()
  .modules-count-wrapper
    background-color $COLOR_LIGHT_GRAY
    padding 5px 20px
    color $COLOR_LIGHT_BLACK
    font-weight $FONT_BOLD
    .count 
      color $COLOR_RED
      margin 0 3px
  modulesWrapperCss()