.mainNav
  position fixed
  left 0
  top 0
  bottom 0
  width 150px
  background-color #252024
  ul
    margin 0
    padding 0
    list-style none
    li
      padding 15px 20px
      color #f0f0f0
      font-weight 400
      .fa
        text-align center
        width 14px
        margin-right 10px
  .logo
    font-size 28px
    font-weight 500
    text-indent 2em
    height 40px
    line-height @height
    color #fff