.main-header
  padding 10px 20px
  background-color #f5f5f5
  border-bottom 1px solid #e5e5e5
  line-height 30px
  .user-infos
    .fa
      width 14px
      margin-right 3px
    .functions
      .pure-button
        margin-left 10px
        line-height 18px
    ul
      margin 0
      padding 0
      li
        display inline-block
        list-style none
    .account
      position relative
      .dropdown
        width 160px
        margin-top 5px
        line-height 1.5