@import 'nib'
@import './common'

.mask
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index 8
  background-color rgba(0, 0, 0, 0.3)

.tooltip
  box-shadow 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2)
  transform scale(1)
  z-index 20
  border-radius 3px
  background-color #fff
  padding 10px 15px
  position absolute
  $arrowWidth = 8px
  color $COLOR_LIGHT_BLACK
  width 360px
  .arrow-up, .arrow-up-shadow
    position absolute
    margin-left -($arrowWidth / 2)
    top -($arrowWidth)
    width 0
    height 0
    border-left $arrowWidth solid transparent
    border-right $arrowWidth solid transparent
    border-bottom $arrowWidth solid #fff
  .arrow-up-shadow
    border-bottom $arrowWidth solid rgba(16, 22, 26, 0.1)
    top -($arrowWidth + 1)

.progressBar
  position fixed
  left 0
  top 0
  height 3px
  background-color $COLOR_GREEN

.scroll-top
  position fixed
  top 15px
  right 15px
  width 40px
  height @width
  background-color alpha($COLOR_DARK_BLUE, 0.7)
  color #fff
  text-align center
  line-height @height
  font-size 16px
  &:hover
    background-color $COLOR_DARK_BLUE

.dialog
  position fixed
  width 80%
  left 10%
  top 50%
  margin-left -1px
  background-color #fff
  border $GRAY_BORDER
  z-index 9
  broder-radius 3px
  h4
    background-color $COLOR_DARK_BLUE
    margin 0
    line-height 2.5
    color #fff
    text-indent 10px
  .content
    padding 20px

.trends-chart
  position relative
  height 300px
  .loading
    position absolute
    top 50%
    width 100%
    margin-top -30px
    text-align center
  .days-selector
    position absolute
    right 3px 
    top 30px 
    border 1px solid $COLOR_LIGHT_BLACK
    border-radius 3px
    background-color #fff
    a
      display inline-block
      width 24px
      text-align center
      border-right 1px solid $COLOR_LIGHT_BLACK
      &.selected
        background-color $COLOR_RED
        font-weight $FONT_BOLD
        color #fff
      &:last-child
        border-right none